@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "header header header"
    "content content anuncios"
    "footer footer footer" ; 
}
header{
    grid-area: header;
    text-align: left;
    background: linear-gradient(135deg, #ffd000, #ffea76);
    padding: 20px ;
}
header h2{
    font-weight: 500;
}
main{
    grid-area: content;
    height: 38rem;
}
.texto{
    justify-self: center;
    grid-column: span 2;
    width: 70%;
}
.othergrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1{
    font-size:23px;
    font-weight: 300;
    margin: 10px 0 20px ;
    justify-self: center;
    width: 70%;
    padding: 5px 10px;
    background: linear-gradient(135deg, #ffd000, #ffea76);
    border-radius: 19px;
}
.energ{
    color: #3a3a3a;
}
aside{
    grid-area: anuncios;
    background-color: #e9e9e9;
}
footer{
    padding: 10px 0px;
    font-size:15px;
    grid-area: footer;
    background: linear-gradient(135deg, #daa000, #ffdc15b6);
}
.item{
    font-size: 15px ;
}
.texto-2{
    border-right: 2px solid  #ffd000;
    padding: 0  8px;
}
.texto-3{
    border-left: 2px solid #ffea76;
    padding: 0 8px;
}
h3{
    font-size:19px;
    font-weight: 300;
    justify-self: center;
    margin: 20px 0 ;
    grid-column: span 2;
    width: 50%;
    padding: 5px 10px;
    background: linear-gradient(135deg, #ffd000, #ffea76);
    border-radius: 19px;}